<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, modi possimus quis sed non error. Laborum vitae illum ut temporibus magni accusamus excepturi, cupiditate corporis ex quos unde, doloribus dolore?</p>

<%- include("footer") -%>
